.faq__wrapper {
    line-height: 32px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 24px;
    background: white;
}

.question {
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 24px;
    background: white;
}

.question__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question__title {
    font-size: 24px;
    font-weight: 700;
}

.question__text {
    margin-right: 20px;
    max-height: 0;
    overflow-y: hidden;
    transition: padding .2s ease-out;
}

.question__text_opened {
    transition: padding .2s ease-out;
    padding-top: 16px;
    max-height: 100%;
}

.btn {
    transform: rotate(0);
    transition: transform .2s ease-out;
}

.btn_rotated {
    transform: rotate(180deg);
}