:root{
  --gray-1: #333;
  --bg-color: #F5F5F5;
  --text-primary: #1B1F23;
  --text-tertiary: #999FA6;
  --orange: #F50;
  --orange-disabled: #FFA375;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 400;
  color: var(--text-primary);
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: ghostwhite;
  }
}

button {
  border: none;
  background: transparent;
  display: block;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  padding: 24px 32px;
  background: var(--bg-color);
}