.film__wrapper {
  padding: 24px;
  background: white;
  border-radius: 8px;
  display: flex;
  margin-bottom: 32px;
}

.film__row {
  flex: 1 1 auto;
}

.film__image img {
  border-radius: 8px;
  margin-right: 32px;
}

.film__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.film__title {
  font-size: 32px;
  font-weight: 700;
}

.film_data {
  font-size: 20px;
  display: flex;
  margin-bottom: 16px;
}

.film_data__title {
  font-weight: 700;
  margin-right: 8px;
}

.description {
  margin-top: 30px;
}

.description__title {
  font-weight: bold;
  margin-bottom: 10px;
}
